/* 试网页置灰的哀悼样式  */
.lament {
    FILTER: gray;
    -webkit-filter: grayscale(100%);
}

/* 导航栏 */
nav b:hover {
    color: darkorange;
}

/* gitalk 评论 */
.gitalk-container {
    position: fixed;
    top: 0;
    right: -606px;
    background: #ffffffee;
    width: 600px;
    height: 100vh;
    box-shadow: -6px 0px 5px #888888;
    padding: 0 12px;
    z-index: 999;
    transition: right 0.2s;
}

/* 通过 js 加载此 class 弹出 gitalk */
.show-note {
    display: block;
    right: 0px;
}

#start_time_difference {
    text-align: left;
    width: 36px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.2s;
    cursor: pointer;
}

#start_time_difference:hover {
    width: 152px;
}